
<div
class="relative py-4 px-6 flex flex-col justify-between mt-auto"
transition:name="page footer"
transition:persist
>
    <p class="text-center cool-font text-sm mt-4 px-10">
        An LLM wrapper concept piece (using <a href='https://huggingface.co/meta-llama/Meta-Llama-3.1-8B-Instruct' class="cool-font-color underline hover:text-blue-500" target="_blank" rel="noopener noreferrer">Meta-Llama-3.1-8B-Instruct-Turbo</a> and <a href='https://huggingface.co/black-forest-labs/FLUX.1-schnell' class="cool-font-color underline hover:text-blue-500" target="_blank" rel="noopener noreferrer">black-forest-labs/FLUX.1-schnell</a> via <a href='https://together.xyz/' class="cool-font-color underline hover:text-blue-500" target="_blank" rel="noopener noreferrer">Together.ai</a>) |  Archetypes inspired from
        <a href='https://www.eristicstest.com/' class='cool-font-color underline hover:text-blue-500' target="_blank" rel="noopener noreferrer">The Eristics Test</a>
    </p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  
    .cool-font {
      font-family: 'Roboto', sans-serif;
    }
  
  </style>