---

---

<div
  class="relative z-10 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <a></a>
  <div class="flex items-center gap-3">
    <a
      target="_blank"
      href="https://github.com/imperorrp"
      class="hover:text-blue-500 ascii-font cool-font-color flex relative overflow-hidden group bg-gradient-to-br from-black/10 to-black/40 rounded-md px-3 py-1 text-gray-200 hover:text-white transition-colors gap-1 items-center"
    >
      <span class="text-md">
        By Ratish
      </span>
    </a>
  </div>
</div>
