---
import ArchetypeSwitcher from './ArchetypeSwitcher';
import SideMenuItem from "./SideMenuItem.astro";
import { sidebarEristicsArchetypes } from "../../lib/data";
import { sidebarJungianArchetypes } from "../../lib/jungianData";
import { sidebarDnDArchetypes } from "../../lib/dndData";
import { currentArchetypeType } from '../../store/atom.js';
import SideItemCard from "./SideItemCard.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;


type ArchetypeType = "Eristics" | "Jungian" | "Dungeons & Dragons";
type Playlist = typeof sidebarEristicsArchetypes[0];
type ArchetypeMap = Partial<Record<ArchetypeType, Playlist[]>>;

const archetypeTypes: ArchetypeType[] = ["Eristics", "Jungian", "Dungeons & Dragons"];

const tooltips: Record<ArchetypeType, string> = {
  "Eristics": "Eristics Test archetypes",
  "Jungian": "Carl Jung's psychological archetypes",
  "Dungeons & Dragons": "D&D class-based archetypes"
};

const currentArchetype = archetypeTypes[0] as ArchetypeType;

const archetypeMap: ArchetypeMap = {
  "Eristics": sidebarEristicsArchetypes,
  //"Jungian": sidebarJungianArchetypes,
  //"Dungeons & Dragons": sidebarDnDArchetypes
};

const currentPlaylists = archetypeMap[currentArchetype] || [];

const archetypeData = {
  eristicsPlaylists: sidebarEristicsArchetypes,
  jungianPlaylists: sidebarJungianArchetypes,
  dndPlaylists: sidebarDnDArchetypes
};
---

<div class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem {title} href="/">
        <div class="flex items-center justify-between w-full">
          <div>Home</div>
        </div>
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem {title}>
        <div class="flex items-center justify-between w-full">
          <div>Archetypes</div>
        </div>
      </SideMenuItem>
    </ul>
    <ArchetypeSwitcher client:load archetypeData={archetypeData} />
  </div>
</div>

<script >
  import { currentArchetypeType } from '../../store/atom.js';


  //console.log(`SideMenu component has been loaded`);
</script>


<style>
  .tooltip-arrow {
    @apply absolute -top-2 left-1/2 transform -translate-x-1/2 
           border-8 border-transparent border-b-zinc-800
           after:content-[''] after:absolute after:-top-[9px] after:left-1/2 
           after:transform after:-translate-x-1/2
           after:border-8 after:border-transparent after:border-b-zinc-700;
  }

  .tooltip-card {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-200;
  }

</style>