---
import ArchetypeSwitcher from './ArchetypeSwitcher';
import SideMenuItem from "./SideMenuItem.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;


import { archetypeData } from "../../lib/combinedArchetypeData";
---

<div class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem {title} href="/">
        <div class="flex items-center justify-between w-full">
          <div>Home</div>
        </div>
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg">
    <ul>
      <SideMenuItem {title}>
        <div class="flex items-center justify-between w-full">
          <div>Archetypes</div>
        </div>
      </SideMenuItem>
    </ul>
    <ArchetypeSwitcher client:load archetypeData={archetypeData} />
  </div>
</div>

<style>
  .tooltip-arrow {
    @apply absolute -top-2 left-1/2 transform -translate-x-1/2 
           border-8 border-transparent border-b-zinc-800
           after:content-[''] after:absolute after:-top-[9px] after:left-1/2 
           after:transform after:-translate-x-1/2
           after:border-8 after:border-transparent after:border-b-zinc-700;
  }

  .tooltip-card {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-200;
  }

</style>